name: tomi docker pipeline
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main


jobs:

  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/tomi-docker-image:latest    
  deploy-to-ec2-instances:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
    - name: Deploy to EC2 Instances
      env: 
        EC2_USER: ${{ secrets.EC2_USER }}
        EC2_HOST: ${{ secrets.EC2_HOST }}
        EC2_KEY: ${{ secrets.EC2_PRIVATE_KEY }}
      run: |
        echo "$EC2_KEY" > private_key.pem
        chmod 400 private_key.pem
        ssh -o StrictHostKeyChecking=no -i private_key.pem $EC2_USER@$EC2_HOST << 'EOF'
         sudo  docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
          sudo  docker pull ${{ secrets.DOCKER_USERNAME }}/tomi-docker-image:latest
          sudo  docker stop tomi-container || true
          sudo  docker rm tomi-container || true
          sudo  docker run -d --name tomi-container -p 80:80 ${{ secrets.DOCKER_USERNAME }}/tomi-docker-image:latest
        EOF
